<div class="row mb-3">
  <div class="col-7">
    <div class="bg-success rounded px-3 py-2">
      <%= exchange.input %>
    </div>
  </div>
</div>
<div class="row mb-3 justify-content-end">
  <div class="col-7">
    <div class="bg-primary rounded px-3 py-2">
      <%= exchange.output %>
    </div>
  </div>
</div>